[submodule "CocosBuilder/libs/cocos2d-iphone"]
	path = CocosBuilder/libs/cocos2d-iphone
url=git@github.com:moonfrog/cocos2d-iphone-cocosbuilder.git
[submodule "CocosBuilder/libs/ssziparchive"]
	path = CocosBuilder/libs/ssziparchive
url=git@github.com:harimfl/ssziparchive.git
[submodule "CocosBuilder/libs/Fragaria"]
	path = CocosBuilder/libs/Fragaria
url=git@github.com:moonfrog/fragaria-cocosbuilder.git
[submodule "Examples/CocosBuilderExample/libs/CCBReader"]
	path = Examples/CocosBuilderExample/libs/CCBReader
url=git@github.com:cocos2d/CCBReader.git
